@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Hello World!!</title>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">@Model</h1>
            <p>Hello World (from view) !!</p>
        </div>
    </body>
</html>
