@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party !!</title>
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome !!</h1>
            <p>It's party time...<br />
            ToDo: add more appealing content to sell the party </p>
            <a asp-action="RsvpForm">RSVP Now</a>
        </div>
    </body>
</html>
